{% block content %}
    <div id="sulu-headless-container"></div>

    {# initialize application with json data of current page to prevent second request on first load #}
    <script>window.SULU_HEADLESS_VIEW_DATA = {{ jsonData|raw }};</script>
    <script>window.SULU_HEADLESS_API_ENDPOINT = '{{ sulu_content_path('/api') }}';</script>

    {# start the single page application #}
    <script src="/build/headless/js/index.js"></script>
{% endblock %}
